<div>
  <div>
    <%= link_to "Back", authenticated_root_path %>
  </div>

  <div>
    <% if user_signed_in? %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

  <div>
    <p>Transactions</p>
    <div>
      <div><img src="<% @group.icon %>"></div>
    </div>
    <div>
      <div>Total Amount: <%= @group.expenses.sum(:amount) %> $</div>
    </div>

    <div>
      <% @expenses.order(created_at: :desc).each do |expense| %>
        <div>
          <div>Transaction Name: <%= expense.name %></div>
          <div>Transaction Amount: <%= expense.amount %>$</div>
        </div>
      <% end %>
    </div>
  </div>

    <div>
        <%= link_to 'Add a New Transaction', new_group_expense_path(params[:group_id]) %>
    </div>
</div>