<div>
  <div class="bg-primary nav">
    <div class="d-flex justify-content-center align-items-center gap-5">
      <div class="ms-4">
        <%= link_to "Back", authenticated_root_path, class:'text-white' %>
      </div>

      <div class="ms-3">
        <h3 class="text-white">Transactions</h3>
      </div>

      <div>
        <% if user_signed_in? %>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ms-3 mb-3 mt-3">
      <h6>Total Amount: $ <%= @group.expenses.sum(:amount) %></h6>
  </div>
  <div class="d-flex flex-column gap-2 mb-3 ms-3 me-3">
    <div class="d-flex flex-row gap-3 border border-primary p-2">
      <div class="ms-2 mt-1">
        <% if @group.icon.attached? %>
          <img src="<%=(url_for(@group.icon)) %>", alt="group-image", style="width:60px; height:60px;">
        <% end %>
      </div>
      <div class="d-flex flex-column gap-2 mb-3 ms-3 me-3 mt-2">
        <% @expenses.order(created_at: :desc).each do |expense| %>
          <div class="d-flex gap-5"> 
            <div>
              <div><%= expense.name %></div>
              <div><%= expense.created_at.strftime("%d %b %Y") %></div>
            </div>
            <div class="mt-3 ms-5">
              <div>$ <%= expense.amount %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center border border-success ms-5 me-5">
    <%= link_to 'Add a New Transaction', new_group_expense_path(params[:group_id]), class: "text-success" %>
  </div>
</div>
